@{
    ViewBag.Title = "在线测试";
}
<br />
<div class="form-horizontal ">
    @*<div class="row">
     
        <label class="flowleft control-label">考试科目：</label><div class="flowleft">
            @{Html.RenderPartial("_SubjectDropDownList");
        }
    </div>
</div>*@
    <div class="form-group">
        @Html.Label("lb", "考试科目:", new { @class = "control-label flowleft" })
        <div class="col-md-10">
            @{Html.RenderPartial("_SubjectDropDownList");
            }
        </div>
    </div>
<div class="form-group">
    <ul class="list-group">
        <li class="list-group-item">
            <input id="autoexam" type="radio" name="examtype" checked="checked" value="练习测试" onclick="HidePapers();" />练习测试
        </li>
        <li class=" list-group-item">
            <input id="paperexam" type="radio" name="examtype" value="选择试卷" onclick="ShowPapers();" />指定试卷
        </li>
    </ul>
</div>
<div class="form-group">
    <ul id="paperlist" class="panel-body" style="display:none;">
        <li>功能正在完善中</li>
    </ul>
</div>
</div>
<div class="row"><a class="btn btn-default" onclick="begin()">开始测试</a></div>
@section Scripts{
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/js/bootstrap.min.js")"></script>*@
    <script src="/Scripts/Debugger/Alerter.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
       
        function ShowPapers() {
            //$("#paperlist").css("display", "block")
            var subjectid = $("iframe").contents().find("#SubjectList").val();
            $.ajax({
                url: '@Url.Action("GetPapers")',
                data: { subjectId: subjectid, },
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if (data.Success == 0) {
                        $("#paperlist").append("<li>获取试卷列表失败</li>");
                    } else {
                        for (var i = 0; i < data.Data.lenght; i++) {
                            var li = "<li id='" + data.Data[i].ID + "' > " + data.Data[i].Name + "</li>";
                            $("#paperlist").append(li);
                          
                        }
                      
                    }
                }
            });
            $("#paperlist").slideToggle(10);
        }
        function HidePapers() {
            $("#paperlist").slideToggle(10);
        }
        function begin() {
            var subjectid = GetSubjectID();
            var paperid = "";
            if ($("#autoexam").is(":checked")) {
            } else if ($("#paperexam").is(":checked")) {
                paperid = $(".SelectedItem").attr("id")
            }
            Alerter.list(subjectid, paperid);
            window.open('@Url.Action("Test")' + "?subjectid=" + subjectid + "&paperid=" + paperid, "_blank");
        }
    </script>
}