<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet">
  
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/bootstrap.min.js")"></script>
    <script src="/Scripts/Debugger/Alerter.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("sub", required: false)
    @this.WriteScriptBlocks()
    <script>
        $(function ($) {
            $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
                $(this).find('em:first').toggleClass("glyphicon-minus");
            });
            $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        });
        $(window).on('resize', function () {
            if ($(window).width() > 768) $('#sidebar-collapse').fadeIn(1000);
            //if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
        })
        $(window).on('resize', function () {
            if ($(window).width() <= 767) $('#sidebar-collapse').fadeOut(1000);
            //if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
        })
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>后台</span>管理</a>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                }
                <ul class="user-menu">
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user">@System.Web.HttpContext.Current.User.Identity.Name</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Content("~/Account/UserProfile")"><span class="glyphicon glyphicon-user"></span>个人中心</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-cog"></span>设置</a></li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span> 注销</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        @*<li class="dropdown pull-right">
                                <a href="@Url.Content("~/Account/Register")">
                                    <span class="dropdown-toggle" data-toggle="dropdown"></span>
                                    注册
                                </a>
                            </li>*@
                        <li class="dropdown pull-right">
                            <a href="@Url.Content("~/Account/Login")"><span class="glyphicon glyphicon-user"></span> 登录</a>
                        </li>
                    }
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    
        <ul class="nav menu">
            <li class="active"><a href="index.html"><span class="glyphicon glyphicon-dashboard"></span> 题库管理</a></li>
           
            <li>
                <a class="" href="@Url.Action("Index", "Choice",new  {isMultiple=false })">
                    <span class="glyphicon  glyphicon glyphicon-list"></span>单选题
                </a>
            </li>
            <li>
                <a class="" href="@Url.Action("Index", "Choice",new  {isMultiple=true })">
                    <span class="glyphicon  glyphicon glyphicon-list"></span>多选题
                </a>
            </li>
            <li>
                <a class="" href="@Url.Action("Index", "Essay",new {QuestionType=QuestionType.Completion.ToString()})">
                    <span class="glyphicon  glyphicon glyphicon-list"></span>填空题
                </a>
            </li>
            <li>
                <a class="" href="@Url.Action("Index", "Essay",new {QuestionType=QuestionType.ShortAnswer.ToString()})">
                    <span class=" glyphicon  glyphicon glyphicon-list">
                    </span>简答题/计算题
                </a>
            </li>
            <li>
                <a class="" href="@Url.Action("Index", "Essay",new {QuestionType=QuestionType.Discussion.ToString()})">
                    <span class="glyphicon  glyphicon glyphicon-list"></span>应用题/议论题
                </a>
            </li>
            <li class="parent ">
                <a href="#">
                    <span class="glyphicon glyphicon-list"></span> 其他 <span data-toggle="" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
                </a>
                <ul class="children " id="sub-item-1">
                    <li>
                        <a class="" href="@Url.Action("Index", "PaperImport")">
                            <span class="glyphicon glyphicon-share-alt"></span>导入试题
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("Index", "OnlineTest")">
                            <span class="glyphicon glyphicon-share-alt"></span>练习/测试
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("Index", "TestPaper")">
                            <span class="glyphicon glyphicon-share-alt"></span>组卷夹管理
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("Index", "TestPaper")">
                            <span class=" glyphicon glyphicon-share-alt">
                            </span>试卷管理
                        </a>
                    </li>
                   
                </ul>
            </li>
            <li class="parent ">
                <a href="#">
                    <span class="glyphicon glyphicon-list"></span> 管理中心 <span data-toggle="" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
                </a>
                <ul class="children " id="sub-item-1">
                    <li>
                        <a class="" href="@Url.Action("UserManagement", "Account")">
                            <span class="glyphicon glyphicon-share-alt"></span>用户管理
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("Index", "Subject")">
                            <span class="glyphicon glyphicon-share-alt"></span>科目管理
                        </a>
                    </li>
                </ul>
            </li>
            <li role="presentation" class="divider"></li>
        </ul>
    </div><!--/.sidebar-->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>	<!--/.main-->
</body>
</html>
