<select>
    <option value="@QuestionType.SingleChoice">@QuestionType.SingleChoice.GetInfo()</option>
    <option value="@QuestionType.MultipleChoice">@QuestionType.MultipleChoice.GetInfo()</option>
    <option value="@QuestionType.Completion">@QuestionType.Completion.GetInfo()</option>
    <option value="@QuestionType.ShortAnswer">@QuestionType.ShortAnswer.GetInfo()</option>
    <option value="@QuestionType.Discussion">@QuestionType.Discussion.GetInfo()</option>
</select>