@this.ScriptBlock(
    @<script>
        Alerter.turnOff();
        $(function () {
            $("#MajorList").attr("onchange", "onSelect(this)")
            $("#MajorList").val(@ViewBag.MajorId);
            //Alerter.info();
        })
        function onSelect(e) {
            //Alerter.list($(e).val(), e.options[e.selectedIndex].innerHTML)
            $("#MajorId").val($(e).val())
            $("#MajorName").val(e.options[e.selectedIndex].innerHTML)
            //Alerter.info($(e).val())
            $.ajax({
                url: '@Url.Action("GetSubjectByMajor","Subject")',
                data: { id: $(e).val() },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    if (data.Success == 0) {
                        alert("获取科目列表是遇到错误");
                    } else {
                        $("#SubjectList").children().remove();
                        //Alerter.info(data.Data.lenght);
                        //Alerter.info(data.Data.list);
                        //var slist = eval("(" + data.Data.list + ")");
                        var slist = data.Data.list;
                        //Alerter.info(data.Data.lenght);
                        for (var i = 0; i < data.Data.lenght; i++) {
                            var op = "<option value='" + slist[i].SubjectID + "'>" + slist[i].SubjectName + "</option>"
                            //Alerter.info(op);
                            $("#SubjectList").append(op);
                        }

                    }
                }
            });
            //Alerter.info();
        }
        function GetSubjectID() {
            Alerter.info($("#SubjectList").val())
            return $("#SubjectList").val();
        }
        function GetSubjectName() {
            var e = $("#SubjectList");
            Alerter.info($("#SubjectList>option:selected").html());
            return $("#SubjectList>option:selected").html()

        }
        //需要在父页面添加AppendSubject方法以响应操作
        //function AppendSubject() {
        //    var jq = parent.jQuery;
        //    window.parent.frames.AppendSubject(GetSubjectID(), GetSubjectName());
        //}

    </script>)
@this.ScriptBlock(
    @<style>
         .SubjectListStyle {
             width: 150px;
         }

    </style>
)
@{
    var ee = new OnlineExam.Models.ExamEntities();
    //设置下列列表
    var majorList = new SelectList(ee.Major.AsEnumerable(), "MajorID", "MajorName").ToList();
    ViewBag.MajorList = majorList;
    SelectListItem it = new SelectListItem();
    it.Text = "全部"; it.Value = "0";
    majorList.Insert(0, it);
    ViewBag.SubjectList = new SelectList(ee.Subject.AsEnumerable(), "SubjectID", "SubjectName").ToList().AsEnumerable();
    ViewBag.MajorName = "全部";
    ViewBag.MajorId = 0;
}

@*<span> 所属科目：</span>*@
@Html.DropDownList("MajorList", (IEnumerable<SelectListItem>)ViewBag.MajorList, new { onchange = "",@class= "SubjectListStyle form-control flowleft" })
@Html.DropDownList("SubjectList", (IEnumerable<SelectListItem>)ViewBag.SubjectList, new {@class = "SubjectListStyle form-control flowleft" })
@Html.Hidden("MajorName")
@Html.Hidden("MajorId")

