@using OnlineExam.Models
@{
    UserProfile profile = null;
    if ((bool)ViewBag.HasProfile) { profile = ViewBag.Profile as UserProfile; }
    //var User = (ApplicationUser)ViewBag.AppUser;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>教师所有科目</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/js/bootstrap.min.js")"></script>*@
    <script src="/Scripts/Debugger/Alerter.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(function () {

        })
        function updateCallBack(data) {
            if (data.Success == 1)
                $("#info").text("修改成功!!").css("display", "block");
            else
                $("#info").text("提交失败!!" + data.Message).css("display", "block");
        }
        function hideMsg() {
            $("#UserId").val("@ViewBag.ID");
            var ids = "";

            $("#subjectlist").children().each(function () { ids = ids + "," + $(this).attr("id") })
            Alerter.info(ids);
            $("#SubjectIds").val(ids);

            $("#info").css("display", "none");
        }
        function reflash() {
            location = location
            //location.reload();
        }
        function AppendSubject(id, name) {
            if ($("#subjectlist").find("[id='" + id + "']").length > 0) alert("科目已添加");
            else $("#subjectlist").append("<span id='" + id + "' class='subject '>" + name + "<a href='#' class='glyphicon glyphicon-remove' onclick='$(this).parent().remove()'></a></span>")

        }
    </script>
</head>
<body>
    <h5>@ViewBag.UserName</h5>
    @if ((bool)ViewBag.HasProfile)
    {
        <h5>
            <img class=" md-photo" src="@(CUrl.UserPhoto+profile.Photo)" alt="用户未上传照片" />
        </h5>
        <h5>真实姓名：@profile.RealName</h5>
    }
    @using (Ajax.BeginForm("SetTeacherSubject", new AjaxOptions { HttpMethod = "POST", OnSuccess = "updateCallBack" }))
    {
        @Html.Hidden("UserId")
        @Html.Hidden("SubjectIds")
        <div>
            <iframe src="/Subject/SubjectDropDown" style="width:700px; height:30px; border-style:none;overflow:hidden;"></iframe>
        </div>
        <div>
            <div id="subjectlist" class="list-group">
                @foreach (var i in (IEnumerable<Subject>)(ViewBag.Subjects))
                {
                    <span id="@i.SubjectID" class="subject">@i.SubjectName<a href="#" class=" glyphicon glyphicon-remove" onclick="$(this).parent().remove()"></a></span>
                }
            </div>
            <input class="btn btn-primary width80" type="submit" onclick="hideMsg();" value="保存" />
            <p id="info" class="alert-info"></p>
        </div>

    }
</body>
</html>
