<div>
    <p>通过上传包含试卷试题的word文档进行导入</p>
    @using (Html.BeginForm("UploadFile", "PaperImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" id="DocFile" name="DocFile" />
        <input type="submit" value="导入" onclick="return validate();" />
    }
    <p class="danger">@ViewBag.FileError</p>
</div>
<script>
    Alerter.turnOff()
    function validate() {
        Alerter.info($("#DocFile").val())
        //Alerter.info($("#DocFile").text())
        //Alerter.info($("#DocFile").html())
        var fileName = $("#DocFile").val().toString();
        if (fileName == null || fileName == "" || fileName == undefined) {
            alert("未指定文件");
            return false;
        }
        var i = fileName.indexOf(".")
        //Alerter.info(i)
        var ftype = fileName.substr(i, fileName.length - i);
        Alerter.info(ftype);
        if (ftype == ".doc" || ftype == ".docx") return true;
        else {
            alert('仅能导入word文档，并确保导入的文件以“.doc”或“.docx”结尾');
            return false;
        }
    }
</script>
@section Scripts
    {
    <link href="@Url.Content("~/Content/raterater.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/raterater/raterater.jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
    <link rel="stylesheet" href="/Scripts/artDialog/css/ui-dialog.css">
    @*<script src="/Scripts/artDialog/dist/dialog-min.js"></script>*@
<script src="/Scripts/artDialog/dist/dialog-plus-min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    @*<script src="//cdn.ckeditor.com/4.5.4/basic/ckeditor.js"></script>*@
    @*<script src="//cdn.ckeditor.com/4.5.4/standard/ckeditor.js"></script>*@
    @*<script src="//cdn.ckeditor.com/4.5.5/full/ckeditor.js"></script>*@
}
