@model OnlineExam.Models.ImportPaper
<div>
    <h4>试卷试题导入</h4>
    <hr />
    <div class="div-horizontal">
        <div class="row">
            <div class="col-sm-1">标题</div> <div class="col-sm-10">@Html.TextBoxFor(model => Model.ExamTitle)</div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                年级
            </div>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => Model.Grade)
            </div>
            <div class="col-sm-1">
                年份
            </div><div class="col-sm-2">
                @Html.TextBoxFor(model => Model.Year)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                学期
            </div>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => Model.SubSubjectName)
            </div>
            <div class="col-sm-1">
                试卷类型
            </div>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => Model.ExamType)
            </div>
        </div>
        <div class="row">
            <div>
                <iframe src="/Subject/SubjectDropDown" style="width:700px; height:30px; border-style:none;overflow:hidden" onload="SetDropDownStyle();"></iframe>
                <div id="subjectlist" class="col-md-12">
                    @if (!string.IsNullOrWhiteSpace(Model.SubjectName))
                    {
                        <span id="@Model.SubjectId" class="subject">@Model.SubjectName<a href="#" class=" glyphicon glyphicon-remove" onclick="$(this).parent().remove()"></a></span>
                    }
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-1">
                单选题x
                @Html.DisplayFor(model => Model.SingleChoiceQuantity)
            </div>
            <div class="col-md-1">
                多选题x
                @Html.DisplayFor(model => Model.MultipleChoiceQuantity)
            </div>
            <div class="col-md-1">
                填空题x
                @Html.DisplayFor(model => Model.CompletionQuantity)
            </div>
            <div class="col-md-1">
                简答题x
                @Html.DisplayFor(model => Model.ShortAnswerQuantity)
            </div>
            <div class="col-md-1">
                应用题x
                @Html.DisplayFor(model => Model.DiscussionQuantity)
            </div>
        </div>
    </div>
</div>
<hr />
<div>
    <input type="checkbox" checked="checked" onchange="DisplayInfo(this);" value="" />显示解释
    <input type="checkbox" onchange="DisplayAnswer(this);" checked="checked" value="" />显示答案
</div>
@{
    int bigNum = -1;
}
@foreach (var i in Model.Questions)
{
    if (bigNum == -1 || bigNum != i.BigNum)
    {
        bigNum = i.BigNum;
        <h3>
            @i.QuestionBigNum
            、
            @i.QType.GetInfo();
        </h3>
    }
    <div id="@i.ID" class="bg-primary ">
        <div>
            <span id="toolBox">
                @*<a class="btn btn-primary edit" onclick="QEdit('@i.ID');">编辑</a>*@
                <a class="btn btn-danger delete" onclick="QDelete('@i.ID');">删除</a>
                <a class="btn btn-info import" onclick="QImport('@i.ID');">导入</a>
            </span>
            <span class="BigQuestionType"><b>所属大题：</b>@i.QuestionBigNum <b>题目类型：</b>@i.QType.GetInfo()</span>
        </div>
        <h4 class="Question">
            @i.QuestionNum
            :
            @Html.Raw(i.Question)
        </h4>
        @if (i.Options != null && i.Options.Count > 0)
        {
            <hr />
            foreach (var o in i.Options)
            {
                <h4 class="Option">
                    @o.Op
                    :
                    @Html.Raw(o.Content)
                </h4>
            }
        }
        <hr />
        <footer class="QuestionInfo"><b>解释/评论：</b> @Html.Raw(i.Info)</footer>
        <hr />
        <footer class="Answer"><b>答案：</b>@Html.Raw(i.Answer)</footer>
    </div>
    <hr />
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<style>
    .BigQuestionType {
        float: right;
    }
</style>
<script type="text/javascript">
    function SetDropDownStyle() {
        $("iframe").contents().find("span").addClass("col-md-1");
    }
    $(function () {
        //Alerter.info($("iframe").contents().find("span").html());
        //SetDropDownStyle();
    })
    function AppendSubject(id, name) {
        if ($("#subjectlist").find("[id='" + id + "']").length > 0) alert("科目已添加");
        else $("#subjectlist").append("<span id='" + id + "' class='subject '>" + name + "<a href='#' class='glyphicon glyphicon-remove' onclick='$(this).parent().remove()'></a></span>")
    }
    function DisplayInfo(e) {
        if ($(e).is(":checked")) {
            $(".QuestionInfo").css("display", "block");
        } else {
            $(".QuestionInfo").css("display", "none");
        }
    }
    function DisplayAnswer(e) {
        if ($(e).is(":checked")) {
            $(".Answer").css("display", "block");
        } else {
            $(".Answer").css("display", "none");
        }
    }
    function QEdit(id) {
    }
    function QDelete(id) {
        if (confirm("确定要删除选中的题目吗?"))
            $.ajax({
                url: '@Url.Action("Delete")',
                data: { id: id, key: '@ViewBag.PaperKey' },
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if (data.Success == 0) {
                        alert("提交失败");
                    } else {
                        $("#" + id).next("hr").css("display", "none");
                        $("#" + id).css("display", "none");
                    }
                }
            });
    }
    function QImport(id) {
        var subjectIds = "";
        $("#subjectlist").children().each(function () {
            debugger
            subjectIds = subjectIds + "," + $(this).attr("id");
        })
        if (subjectIds.startsWith(",", 0)) { subjectIds = subjectIds.substr(1, subjectIds.length - 1); }
        Alerter.info(subjectIds)
        $.ajax({
            url: '@Url.Action("Import")',
            data: { id: id, key: '@ViewBag.PaperKey', subjectIds: subjectIds },
            type: "POST",
            dataType: "json",
            success: function (data) {
                if (data.Success == 0) {
                    alert("导入失败");
                } else {
                    $("#" + id).removeClass("bg-primary");
                    $("#" + id).removeClass("bg-warning");
                    $("#" + id).find(".import").text("查看").addClass("btn-success").removeAttr("onclick");
                    $("#" + id).find(".import").click(function () {
                        window.open(data.Message);
                    });
                }
            }
        });
    }
</script>