@Model
<select >
    <option value="@ExamType.模拟考试">@ExamType.模拟考试.ToString()</option>
    <option value="@ExamType.练习题">@ExamType.练习题.ToString()</option>
    <option value="@ExamType.自测题">@ExamType.自测题.ToString()</option>
    <option value="@ExamType.期末考试">@ExamType.期末考试.ToString()</option>
    <option value="@ExamType.期中考试">@ExamType.期中考试.ToString()</option>
</select>
