@model OnlineExam.Models.UserProfile
<div>
    <img src="@(Url.Content(CUrl.UserPhoto + Model.Photo))" class="md-photo flowleft" />
    <dl class=" flowright">
        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RealName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RealName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
    </dl>

    <dl class="  flowleft">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QQ)
        </dd>
    </dl>
</div>
